# Exercises Lesson 1

Name: Carlos Cocha

In [1]:
import numpy as np

In [2]:
#Loading dataset
data_read = np.loadtxt('/home/nucphys/Downloads/ISP/Python/TData/T_Alicante_EM.csv', delimiter=',', skiprows=1)
month = np.array(["January","February","March","April","May","June","July","August","September","October","November","December"])

### Exercise (1.1) How would you compute minimum, maximum and average March temperatures for the given dataset?

In [3]:
#The first column of the dataset are the years
years = data_read[:, 0]

In [4]:
#The remaining columns are the temperatures
temps = data_read[:, 1:]

In [5]:
month_index = 2 # March
month_temps = temps[:,month_index] # temperatures of March
print('Minimum =', month_temps.min(),'°C; Maximun = ', np.max(month_temps),'°C; Average =', round(np.mean(month_temps),2), '°C')

Minimum = 12.42 °C; Maximun =  16.76 °C; Average = 14.09 °C

or in a more elegant way:

In [6]:
print('Minimum', month[month_index],'temperature:', np.min(temps[:,month_index]), '°C')
print('Maximum', month[month_index], 'temperature:', np.max(temps[:,month_index]), '°C')
print('Average', month[month_index], 'temperature:', round(temps[:,month_index].mean(),2), '°C')

Minimum March temperature: 12.42 °C
Maximum March temperature: 16.76 °C
Average March temperature: 14.09 °C

### Exercise (1.2): Check the info on the numpy mean function and compute the average monthly temperatures and the average annual temperatures for the given dataset (Hint: axis option)

In [7]:
np.mean?

In [8]:
# Mean of all the temperatures
temps.mean()

18.38342524509804

In [9]:
# Average montly temperature
monthly_meanT = temps.mean(axis = 0) 
monthly_meanT

array([11.94933824, 12.49007353, 14.08683824, 16.19860294, 19.095     ,
       22.74375   , 25.74705882, 26.15955882, 23.79691176, 19.76845588,
       15.67661765, 12.88889706])

In [10]:
# Average annual temperatures
anual_meanT = temps.mean(axis = 1)
anual_meanT

array([17.1425    , 16.97      , 16.985     , 16.86083333, 17.03166667,
       17.00666667, 17.33666667, 17.63333333, 16.77333333, 17.17416667,
       16.955     , 17.15666667, 17.25416667, 17.16666667, 17.16666667,
       17.31666667, 17.3775    , 17.34583333, 17.07583333, 17.01583333,
       16.85833333, 17.14166667, 17.23083333, 16.88916667, 17.17416667,
       17.18583333, 17.37916667, 17.44583333, 17.11583333, 17.49083333,
       17.24      , 17.305     , 17.61083333, 17.5425    , 17.4675    ,
       17.4125    , 17.615     , 17.40166667, 17.49583333, 17.435     ,
       17.67583333, 17.58916667, 17.3775    , 17.7175    , 17.6625    ,
       17.59333333, 17.37083333, 17.56      , 17.5325    , 17.84583333,
       17.61666667, 17.50666667, 18.03666667, 17.3475    , 17.695     ,
       18.38833333, 17.87916667, 17.61833333, 18.21666667, 17.51916667,
       17.74083333, 17.90583333, 17.95083333, 17.82333333, 18.23916667,
       17.925     , 18.07083333, 18.32916667, 18.4475    , 18.1875    ,
       18.12583333, 17.88916667, 18.32333333, 18.155     , 18.57083333,
       18.30083333, 18.0125    , 18.45      , 18.6625    , 18.4825    ,
       18.48416667, 18.58083333, 18.445     , 18.33      , 18.68666667,
       18.98166667, 18.38666667, 18.88416667, 19.06916667, 19.16      ,
       18.99083333, 18.91083333, 19.13      , 18.97      , 19.40833333,
       19.31166667, 19.03666667, 19.03333333, 18.99333333, 19.08666667,
       19.24083333, 19.295     , 19.39666667, 19.39916667, 19.62      ,
       19.9       , 19.61916667, 19.62083333, 19.5125    , 19.70166667,
       19.69416667, 19.7225    , 19.62416667, 19.375     , 19.5625    ,
       19.67583333, 19.8625    , 19.68083333, 19.6475    , 20.22416667,
       20.095     , 20.2475    , 20.01083333, 20.04416667, 19.82166667,
       19.89166667, 20.05833333, 20.53083333, 20.43666667, 20.365     ,
       20.60666667, 20.30083333, 20.16333333, 20.54416667, 20.285     ,
       19.965     ])

### Exercise (1.3): Get the maximum and minimum monthly temperatures for year 2000 and at what months did these temperatures occur.

In [11]:
# Check where is located the year 2000
index = np.where(years == 2000.0)[0][0]

In [12]:
# Minimun and maximum monthly temperatures
T_2000_min = temps[index, :].min()
T_2000_max = temps[index, :].max()

In [13]:
# Check where is located the maximum and minimum monthly temperatures
T_2000_month_min = temps[index, :].argmin()
T_2000_month_max = temps[index, :].argmax()

In [14]:
print('The month with the minimun temperature in 2000 is', month[T_2000_month_min], ':', str(T_2000_min), '°C')
print('The month with the maximun temperature in 2000 is', month[T_2000_month_max], ':', str(T_2000_max), '°C')

The month with the minimun temperature in 2000 is January : 10.92 °C
The month with the maximun temperature in 2000 is July : 24.63 °C