# Exercises Lesson 1

Name: Carlos Cocha

### Exercise (1.1) How would you compute minimum, maximum and average March temperatures for the given dataset?

In [77]:
import numpy as np

In [78]:
data_read = np.loadtxt('/home/nucphys/Downloads/ISP/Python/TData/T_Ajjacio_EM.csv', delimiter=',', skiprows=1)

In [79]:
month=np.array(["January","February","March","April","May","June","July","August","September","October","November","December"])

In [80]:
data_read.shape

(136, 13)

In [81]:
years= data_read[:,0]

In [82]:
temps=data_read[:,1:]

In [83]:
month_index=2
month_temps= temps[:,month_index]
print("Minimum=", month_temps.min(),"; Maximun= ", np.max(month_temps),"; Average=", np.mean(month_temps))

Minimum= 9.59 ; Maximun=  13.81 ; Average= 11.37625

or in a more elegant way:

In [84]:
print('Minimum', month[month_index],'temperature:', np.min(temps[:,month_index]))
print('Maximum', month[month_index], 'temperature:', np.max(temps[:,month_index]))
print('Average', month[month_index], 'temperature:', round(temps[:,month_index].mean(),2))

Minimum March temperature: 9.59
Maximum March temperature: 13.81
Average March temperature: 11.38

### Exercise (1.2): Check the info on the numpy mean function and compute the average monthly temperatures and the average annual temperatures for the given dataset (Hint: axis option)

In [85]:
np.mean?

In [86]:
temps.mean()

16.45807598039216

In [87]:
monthly_meanT= temps.mean(axis=0)

In [88]:
monthly_meanT

array([10.18095588, 10.19985294, 11.37625   , 13.53022059, 16.83514706,
       21.00411765, 24.38970588, 24.82279412, 21.91948529, 17.82602941,
       14.06558824, 11.34676471])

In [89]:
anual_meanT= temps.mean(axis=1)

In [90]:
anual_meanT

array([15.31583333, 15.09333333, 15.0325    , 14.88833333, 15.09583333,
       14.91583333, 15.25916667, 15.54333333, 14.99166667, 15.01083333,
       14.47333333, 14.90166667, 15.245     , 15.11583333, 15.08833333,
       15.40666667, 14.77666667, 15.25916667, 15.15      , 15.10416667,
       14.83333333, 15.01      , 15.23916667, 14.8475    , 15.17166667,
       15.30916667, 15.365     , 15.19916667, 15.22916667, 15.70833333,
       15.225     , 15.38333333, 15.74583333, 15.52583333, 15.72916667,
       15.42916667, 15.50666667, 15.645     , 15.60666667, 15.65166667,
       15.65916667, 15.8175    , 15.67166667, 15.5475    , 15.41583333,
       15.4025    , 15.45833333, 15.79833333, 15.635     , 15.84416667,
       15.73333333, 15.41833333, 16.18583333, 15.435     , 15.6575    ,
       16.38166667, 15.95583333, 15.79166667, 16.215     , 15.35166667,
       15.5025    , 16.09333333, 15.73      , 16.03583333, 16.17333333,
       15.6775    , 16.04416667, 16.22333333, 16.25583333, 16.3825    ,
       16.26916667, 16.21083333, 16.58416667, 16.22083333, 16.7025    ,
       16.30666667, 16.43916667, 16.50166667, 16.60833333, 16.5325    ,
       16.61      , 16.47166667, 16.735     , 16.4275    , 16.75583333,
       17.29583333, 16.485     , 17.19916667, 17.38916667, 17.005     ,
       16.925     , 17.26416667, 17.28083333, 17.095     , 17.69083333,
       17.69583333, 17.30083333, 17.105     , 17.0325    , 17.26583333,
       17.22333333, 17.36666667, 17.59166667, 17.70666667, 17.62083333,
       18.21333333, 17.43083333, 17.6725    , 17.57416667, 17.6025    ,
       17.925     , 17.895     , 17.8625    , 17.51333333, 17.8875    ,
       17.8925    , 18.12916667, 17.85166667, 18.03583333, 18.26833333,
       18.34833333, 18.44416667, 18.02583333, 18.165     , 17.91083333,
       18.33      , 18.31166667, 18.68333333, 18.72416667, 18.51833333,
       18.59666667, 18.32416667, 18.3625    , 18.685     , 18.5425    ,
       18.13416667])

### Exercise (1.3): Get the maximum and minimum monthly temperatures for year 2000 and at what months did these temperatures occur.

In [91]:
years[39]

2000.0

In [92]:
T_2000_min= temps[39, :].min()

In [93]:
print(T_2000_min)

9.47

In [94]:
T_2000_month_min= temps[39, :].argmin()

In [95]:
T_2000_month_max= temps[39, :].argmax()

In [96]:
print('The month with the minimun temperature in 2000 is', month[T_2000_month_min])
print('The month with the maximun temperature in 2000 is', month[T_2000_month_max])

The month with the minimun temperature in 2000 is January
The month with the maximun temperature in 2000 is July